<nav class="navbar navbar-light bg-light shadow-sm header-fixed">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/" class="navbar-brand">
            <img src="assets/img/logo.png" alt="Logo" />
        </a>
        <div class="d-flex align-items-center header-links">
            <a href="#" class="me-3">My Diet</a>
            <a href="#" class="me-3">Daily Log</a>
            <a href="" class="me-3 fw-bold loggedInContent" data="firstName"></a>
            <a href="/login" class="btn btn-outline-success me-2 loggedOutContent">Login</a>
            <a href="register" class="btn btn-success loggedOutContent">Create Account</a>
            <button id="logoutBtn" class="loggedInContent">Logout</button>
        </div>
    </div>
</nav>